---
layout: default
description: Projects
---

<hr class='txt-hr'>
<div class='grid grid--gut12 mx24 my24'>
  <div class='col col--12 txt-h4 txt-em my24 px60 mx-auto'>
    I'm constantly learning new things, and this is just a sampling of what I've been up to in the last decade. My favorite media are weathered wood, metal, and ceramics, but I've worked in everything from leather and fabric to oil paints and resin. I write code both professionally and as a hobby, on subjects ranging from a production geocoding/search engine to command line dinosaurs.
  </div>

  {% assign projects = site.projects | where: 'hidden', 'false' %}
  {% for project in projects %}
      <div class='col col--12 col--4-mm my24'>
        <a href='{{ project.url }}'>
          <div class='border px12 py12 round-bold border--darken10 shadow-darken25-on-hover'>
            {% if project.thumbnail %}
              <img src='{{ project.thumbnail }}' class='round-bold' style='width: 100%;'>
            {% endif %}
            <div class='txt-h3'>{{ project.title }}</div>
            <div class='color-green'>
              <svg class='icon inline'><use xlink:href='#icon-clock'/></svg>
              {{ project.timeframe }}
            </div>
            <div class=''>{{ project.description }}</div>
            <div class='txt-em mt24'>
              Tags:
              {% for tag in project.tags %}
                <span class='round-full px6 pb3 mx3 bg-gray-faint'>
                  {{ tag }}
                </span>
              {% endfor %}
            </div>
          </div>
        </a>
      </div>
  {% endfor %}

</div>