---
layout: default
description: Projects
---

<hr class='txt-hr'>
<div class='grid grid--gut12 mx24 my24'>
    <div class='col col--10 txt-h4 txt-em my24 mx-auto'>
      <p>I'm constantly learning new things, and this is just a sampling of what I've been up to in the last decade. My favorite media are weathered wood, metal, and ceramics, but I've worked in everything from leather and fabric to oil paints and resin. I write code both professionally and as a hobby, on subjects ranging from a production geocoding/search engine to command line dinosaurs.
    </div>

  {% for post in site.categories.projects %}
      <div class='col col--4 my24'>
        <a href="{{ post.url }}">
          <div class='border px12 py12 round-bold border--darken10 shadow-darken25-on-hover'>
            {% if post.thumbnail %}
              <img src='{{ post.thumbnail }}'>
            {% endif %}
            <div class='txt-h3'>{{ post.title }}</div>
            <div class=''>{{ post.description }}</div>
            <div class='txt-em mt24'>
              Tags:
              {% for tag in post.tags %}
                <span class='round-full px12 py6 mx6  bg-gray-faint'>
                  {{ tag }}
                </span>
              {% endfor %}
            </div>
          </div>
        </a>
      </div>
  {% endfor %}

</div>