
  <div id='contact' class='txt-h1 align-center'>
    <a href='https://github.com/KaiBot3000' target='_blank'>
      <svg class='icon color-gray-dark color-green-on-hover inline'><use xlink:href='#icon-github'/></svg>
    </a>
    <a href='https://twitter.com/kaidalgleish' target='_blank'>
      <svg class='icon color-gray-dark color-green-on-hover inline'><use xlink:href='#icon-twitter'/></svg>
    </a>
    <a href='https://www.linkedin.com/in/kaidalgleish' target='_blank'>
      <svg class='icon color-gray-dark color-green-on-hover inline'><use xlink:href='#icon-linkedin'/></svg>
    </a>
  </div>
