
<div class='grid grid--gut12 my-12 txt-h2 txt-uppercase txt-spacing4'>
  <div class='col col--4 mx-12'>
    <div class='align-center color-grey-dark color-green-on-hover'>
      <a href='{{ site.baseurl }}/'>home</a>
    </div>
  </div>
  <div class='col col--4 mx-12'>
    <div class='align-center color-grey-dark color-green-on-hover'>
      <a href='{{ site.baseurl }}projects'>projects</a>
    </div>
  </div>
  <div class='col col--4 mx-12'>
    <div class='align-center color-grey-dark color-green-on-hover'>
      <a href='{{ site.baseurl }}notes'>notes</a>
    </div>
  </div>
</div>