body {
  font-size: 18px;
  line-height: 24px;
}

a {
  font-style: underline;
}

a:hover {
  color: LimeGreen;
}

/* Layouts */
p {
  margin-bottom: 18px;
}

/* Headlines */
h1 {
  font-size: 45px;
  line-height: 54px;
  margin-bottom: 54px;
  margin-top: 54px;
}

h2 {
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 42px;
  margin-top: 42px;
}

h3 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 36px;
  margin-top: 36px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
  margin-top: 24px;
}

h5 {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 18px;
  margin-top: 18px;
}

/* Lists */

ol,
ul {
  list-style-type: disc;
  margin-left: 5%; /* offset list styling */
  margin-bottom: 2%;
}

/* Less margin bottom for nested lists */
ol ol,
ul ul,
ol ol ol,
ul ul ul{
  margin-bottom: 0.5%;
}

/* Blockquotes */

blockquote {
  margin-left: 5%;
  font-style: italic;
  color: grey;
  border-left: 5px solid lightgrey;
  padding-left: 5px;
}
